body {
    background: linear-gradient(to right, #333399, #ff00cc);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #51d5f3;
}

li {
   float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1, h2{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: solid;
    color: rgb(0, 0, 46);
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: flex-start;
}

.container > article {
    border: 1px solid rgb(164, 42, 42);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.container > article img {
    max-width: 100%;
}

.text {
    padding: 0 20px 20px;
}

.text > button {
    background: gray;
    border: 0;
    color: whitesmoke;
    padding: 10px;
    width: 100%;
}