body {
    background: linear-gradient(to right, #333399, #ff00cc);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #51d5f3;
}

li {
   float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: solid;
    color: rgb(0, 0, 43);
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.card {
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid rgb(13, 154, 175);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.card img {
    max-width: 100%;
}

.card .text {
    padding: 0 20px 20px;
}

.card .text > button {
    background-color: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
}